* {
    box-sizing: border-box;
  }

  body {
    font-family:Noto Serif Tangut;
    font-size: large;
    font-weight: 400;

  }
  
  /* Style the header */
  .header {
    background-color:transparent;
    padding: 50px;
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
  }
  
  /* Container for flexboxes */
  .row {
    display: -webkit-flex;
    display: flex;
    
    }
  
  /* Create three equal columns that sits next to each other */
  .column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  #maincontent{
    display:flex;flex-wrap:wrap;
    align-items: center;
    justify-content: center;
  }
  .column1{
   
   
    width: 300px;
    height: 300px;
  }
  
  /* Style the footer */
  .footer {
    background-color:transparent;
    padding: 10px;
    text-align: center;
    align-items: center;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }
  .navbar {
    width: 100%;
    /* background-color: #555; */
    overflow: auto;
  }
  
  .navbar a {
    float: right;
    padding: 12px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 17px;
  }
  .logo{
    height: 6%;
    width: 6%; 
float: left;   
  
   }
  
  .navbar a:hover {
    background: -webkit-linear-gradient(left,#6DD5FA, #2980B9);
  }
  
  
  img{
    width: 293px;
    height: 293px;
  }
  p{
    text-align: center;
    font-weight: 0;
    font-family:'Courier New', Courier, monospace;
    font-size: large;
}
.pquestion{
  text-align: center;
  font-weight: 550;
  font-family:'Courier New', Courier, monospace;
  font-size: large;
}
/*dropdownlist style*/
.companion{
  font-family: 'Courier New', Courier, monospace;
  padding-left: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-weight: 600;
  font-size: xx-large;
  background-color: #6DD5FA;
  background-image: linear-gradient(45deg,#2980B9 ,  #6DD5FA); 
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}
.imgs{
  width: 293px;  
  height: 293px;
}  
.animalname{
  text-align: center;
  text-decoration: black;
  font-size: large;
  font-weight: 800;
  padding-bottom: 0px;
  margin-bottom: 5px;
}
.animalplace{
  padding-top: 0px;
  margin-top: 0px;
  text-align: center;
  text-decoration: black;
  font-size: small;
  font-weight: 400;
  margin-bottom: 10px;
}


button{
  background-color: #32c6f4;
  border-color:transparent;
  text-align: center;
  width: 50%;
  height: 10%;
  border-radius: 8px;
  margin-left: 66px;
}
.copyright-text{
  font-size: medium;
  text-decoration: gray;
  

}
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }}
