<!DOCTYPE html>
<html lang="en">
<head>
<title>adoptForm</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="animaldetails.css">
</head>
<body>

  <div class="header">
 
    <div class="navbar">
      <i > <img src="images/logo.png" class ="logo" ></i>
     <a href="../index.html"><i class="fa fa-fw fa-user"></i> Login</a>
     <a href="../about/about.html"><i class="fa fa-fw fa-envelope"></i> about</a> 
     <a href="../foster page/foster.html"><i class="fa fa-fw fa-envelope"></i> Foster</a> 
     <a href="../adoptPage/adopt.html"><i class="fa fa-fw fa-envelope"></i> Adopt</a> 
     <a class="active" href="../home/home.html"><i class="fa fa-fw fa-home"></i> Home</a> 
   </div>
</div>
<!-- intro -->
<div class="row">
    
  <div class="companion" ><p  class="companion">Animal Details</p></div>
  
</div><br><br>
<div class="row">
     <div class="column"><img id = "animalPic" src="images/dog1.jpg"></div>
     <div class="column">
     <fieldset style="width: 90% ; ">
        <legend><Details></Details></legend>
       
        <label for="Animal name"> Animal Name </label>
        <input type="text" id="animal name" readonly name="dog name " value="rix">
        <br><br>
        <label for="age"> Age </label>
        <input type="text" readonly id="age" name="Age " value="2">
    
        <label for="Animal type">Animal type</label>
        <input type="text" readonly id="animal type"  name="sex" value="Dog">
        <br><br>
        <label for="Loc"> location</label>
        <input type="text" id="loc" readonly  name="loc" value="Faculty of engineering ">
    </div>
    <br>
  </fieldset>
  </div>
    
  <div class="row">
    <button class="adopt-button" id = "adoptBtn">Adopt</button>
    <p style="margin-left: 2%;"> OR </p>
    <button class="foster-button" id = fosterBtn>Foster</button>
  </div>
  
</div>

<div class="footer">

    
   <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by 
  <a href="#">Ain shams university</a>.
</div>

<script src="details.js"></script>
</body>
</html>


