<!DOCTYPE html>
<html lang="en">

<head>
  <title>Details</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="foster.css">
</head>
<body>
    <div class="header">

      <div class="navbar">
        <i > <img src="images/logo.png" class ="logo" ></i>
       <a href="index.html"><i class="fa fa-fw fa-user"></i> Login</a>
       <a href="about.html"><i class="fa fa-fw fa-envelope"></i> about</a> 
       <a href="../foster page/foster.html"><i class="fa fa-fw fa-envelope"></i> Foster</a> 
       <a href="../adoptPage/adopt.html"><i class="fa fa-fw fa-envelope"></i> Adopt</a> 
       <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a> 
     </div>
      </div>
      
    <div class="row" style="margin-left: 20% ; height: 50%; margin-right: 20%;">
        <div class="column3">
            <img src="images\dog1.jpg" alt=" dog1" class="image" style="margin-left: 10%; margin-right: 10%;">
        </div>
        <div class="column3">
            <img src="images\dog1.jpg" alt=" dog1" class="image" style="margin-left: 10%;margin-right: 10%;">
        </div>
    </div>
    <form action="" >
        
        <fieldset style="width: 50% ; margin-left: 25%;">
            <legend><Details></Details></legend>
            <div class="column3">
            <label for="Animal name"> Animal Name </label>
            <input type="text" id="dog name " readonly name="dog name " value="rix">
            <br><br>
            <label for="age"> Age </label>
            <input type="text" readonly id="age " name="Age " value="2">
        </div>
        <div class="column3">
            <label for="Animal type">Animal type</label>
            <input type="text" readonly id="Animal type"  name="sex" value="Dog">
            <br><br>
            <label for="Loc"> location</label>
            <input type="text" id="loc" readonly  name="loc" value="Faculty of engineering ">
        </div>
        <br>
        <!--
        <label for="Loc" style=" margin-left: 20%;"> Animal </label>
        <input type="text" id="Animal id" readonly  name="Animal id" value="15 ">
        -->
      </fieldset>
    </form>
    <div class="row">
        <div class="column" style="margin-top: 30px;">
          <ul style="margin-left:250px;margin-top: 80px; padding-left: 13%;">
            <li class="button1" style="margin-right: 20%;background-color: rgb(219, 189, 211) ;"> Adopt</li>
            <li class="button1" style="background-color: rgb(219, 189, 211);"> Foster </li>
          </ul>
    
        </div>
      </div>
      <div class="footer">
        <div style="margin-top: 70px; height: auto; margin-left: 250px;">
    
        </div>
    
      <div>
  
        <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
          <a href="#">Ain shams university</a>.
  
      </div>
      <script src="details.js"></script>
</body>
