<!DOCTYPE html>
<html lang="en">
<head>
<title>adoptForm</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="addanimal.css">
</head>
<body>

<div class="header">
 
    <div class="navbar">
     <i > <img src="images/logo.png" class ="logo" ></i>
    <a href="index.html"><i class="fa fa-fw fa-user"></i> Login</a>
    <a href="about.html"><i class="fa fa-fw fa-envelope"></i> about</a> 
    <a href="foster.html"><i class="fa fa-fw fa-envelope"></i> Foster</a> 
    <a href="adopt.html"><i class="fa fa-fw fa-envelope"></i> Adopt</a> 
    <a  href="home.html"><i class="fa fa-fw fa-home"></i> Home</a> 
  </div>
</div>
<!-- intro -->
<div class="row">
  <div class="companion" ><p  class="companion">Add Animal</p></div>
  
</div>
<div class="row">
  <div class="column"  >
    
      
    <form action="/action_page.php">
      <label for="name"> Animal Name</label>
      <input type="text" id="name" name="name" placeholder="animal name.."><br>

      <label for="animaltype"> Animal type</label>
      <input type="text" id="type" name="animal type" placeholder="animal type.."><br>
      
      <label for="age">Age</label>
      <input type="text" id="age" name="age" placeholder="Your age"><br>

      <label for="location">Location</label>
      <input type="text" id="location" name="location" placeholder="animal location "><br>
      <label for="Image">Upload image</label><br> <br>
      <input type="file" id="myFile" name="animal"><br><br>

  
      <input type="submit" value="A D D" id="submitButton">
    </form>
    
   </div>
  
</div>

<div class="footer">
    
   <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by 
  <a href="#">Ain shams university</a>.
</div>
<script src="admin.js"></script>
</body>
</html>


