<!DOCTYPE html>
<html lang="en">
<head>
<title>adoptForm</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="addanimal.css">
</head>
<body>

<div class="header">
 
    <div class="navbar">
     <i > <img src="images/logo.png" class ="logo" ></i>
    <a href="index.html"><i class="fa fa-fw fa-user"></i> Login</a>
    <a href="about.html"><i class="fa fa-fw fa-envelope"></i> about</a> 
    <a href="foster.html"><i class="fa fa-fw fa-envelope"></i> Foster</a> 
    <a href="adopt.html"><i class="fa fa-fw fa-envelope"></i> Adopt</a> 
    <a  href="home.html"><i class="fa fa-fw fa-home"></i> Home</a> 
  </div>
</div>
<!-- intro -->
<div class="row">
  <div class="companion" ><p  class="companion">Admin Dashboard</p></div>
</div>
   </div>
   <div class="row">
    <div class="column" >
        <a href="addanimal.html">
        <button type="button" >add animal</button> </a>   </div>
  </div>
     </div>
     <div class="row">
        <div class="companion" ><p  class="companion">Admin Dashboard</p></div>
      </div>
         </div>


<div class="footer">
    
   <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by 
  <a href="#">Ain shams university</a>.
</div>
<script src="admin.js"></script>
</body>
</html>


