<!DOCTYPE html>
<html lang="en">
<head>
<title>adopt</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="about.css">
</head>
<body>

<div class="header">
 
    <div class="navbar">
     <i > <img src="images/logo.png" class ="logo" ></i>
    <a href="index.html"><i class="fa fa-fw fa-user"></i> Login</a>
    <a class="active" href="about.html"><i class="fa fa-fw fa-envelope"></i> about</a> 
    <a href="foster.html"><i class="fa fa-fw fa-envelope"></i> Foster</a> 
    <a href="adopt.html"><i class="fa fa-fw fa-envelope"></i> Adopt</a> 
    <a  href="home.html"><i class="fa fa-fw fa-home"></i> Home</a> 
  </div>
</div>

   <div class="row">
  <div class="column" > <p  class="companion"> About Us </p><br></div></div>
 <div class="row">
  <div class="column  " ><p>Furry Friends is a shelter that connects animals in need with the right people. <br>
    We work between those looking to rehome an animal and those wishing to grow their family.<br>
    people who want to rehome their animals bring us the animal at our shelter,<Br> and we post about it on the website,
    so the people who want to adopt or foster will contact us directly.
    
 </p> </div>
</div>


<div class="footer">
  
    <div>
      
        <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by 
     <a href="#">Ain shams university</a>.

  </div>
</div>
</body>
</html>


